*{
    font-family:  Verdana, 'Microsoft YaHei', Arial, Helvetica, AppleGothic, sans-serif;
    margin: 0;
}
html {
    height:100%;
    width:100%;
    overflow: hidden;
} 
body{
    padding: 0;
    height:100%;
    width:100%;
    
}

#head {
	width:100%;
    color: #fff;
    font-size:1.2rem;
    text-align:center;
    height:50px;
    position:absolute;
    border-bottom:1px solid rgba(152,163,184,0.6);
    background-color: rgb(28, 85, 109);
}
#logo {
	float:left;
    width: 200px;
    height:50px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    cursor: pointer;
    border-right:1px solid rgba(152,163,184,0.6);
    background-image: url(../img/logo.png);
}
#title span{
	left: 210px;
	margin-left: 10px;
	position: absolute;
	top: 10px;
	font-size: 30px;
}
#main{
	position:absolute;
    top:50px;
    left: 0px ; 
    bottom: 0px;
    z-index:2;
    width:100%;
}
#mainPane{
	width:100%;
	float:right;
	position:absolute;
	right:0;
	height: 100%;
	background-color:#fff;
}
.tab-close{
    background:url(../img/tab_colse.svg) no-repeat right;
    width: 18px;
    height: 90%;
    float: right;
    opacity:0.3;
}
.tab-close:hover{
    opacity:1;
}
.tabControl{
    margin-top:-1px;
    width: 100%;
    height: 100%;
}
.tabControl .tabTitlePart{
    width:100%;
    height: 31px;
    border-bottom:1px solid #1eafe1;  
    background-color: rgba(28, 85, 109, 0.9);
}
.tabControl .tabTitleContainer{
    height: 28px;
    float:left;
    overflow:hidden;
    padding-top:3px;
    padding-left:5px;
    width:200000px;
}
.tabControl .tabTitleContainer span{
	width:85%;font-size:15px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	float:left;
}
.tabControl .tabTitle,.tabControl .activeTabTitle{
    width: 130px;
    height: 28px;
    float: left;
    cursor:pointer;
    color: #fff;
    line-height: 26px;
    text-align: center;
    margin:3px 2px 0px 0px;
    padding:0 0 0 5px;
    border-left:1px solid rgb(82,133,172);
    border-top:1px solid rgb(82,133,172);
    border-right:1px solid rgb(82,133,172);
    background-color:rgb(82,133,172);
}
.tabControl .tabTitle:hover{
    color: #fff;
    border-left:1px solid rgb(0,181,183);
    border-top:1px solid rgb(0,181,183);
    border-right:1px solid rgb(0,181,183);
    background-color:rgb(0,181,183);
}
.tabControl .activeTabTitle{
    color: #fff;
    font-weight:700;
    border-left:1px solid #1eafe1;
    border-top:1px solid #1eafe1;
    border-right:1px solid #1eafe1;
    background-color:#1eafe1;
}

.tabControl .tabPage{
    position:absolute;
    left:0px;
    right:0px;
    top:31px;
    bottom:0;
}
#iframpool iframe{
	position:absolute;
	width:100%;
	height:100%;
	margin-bottom:-20px;
    z-index: 300;
}
.navgit{
    position: absolute;
    top: 7px;
    right: 3px;
}
.navgit img{
    position: relative;
    right: 0px;
    float: right;
}
.navgit ul{
    position: relative;
    z-index: 1000;
    background-color: rgb(28, 85, 109);
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: none;
    float:right;
}
.navgit li:not(:first-child){
    margin: 5px 5px;
    }
.navgit li a{
    color: #f1f1f1;
    font-size: 10px;
}
.navgit li a:hover{
    color: #8c8c8c;
    cursor:pointer;
}